@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* height:100%; */

}

/* home first border */
.custom-shape-divider-bottom-1734237866 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1734237866 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1734237866 .shape-fill {
  fill: #FFF5F5;
}


/* footer border */
.custom-shape-divider-top-1734256830 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1734256830 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 18px;
}

.custom-shape-divider-top-1734256830 .shape-fill {
  fill: #FFEDD5;
}